* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 800px;
    margin: 0 auto;
    padding: 30px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    padding: 0 15px;
}

h4,h6 {
    font-size: 10px;
}

header img {
    width: 30px;
}

h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

h2 {
    font-size: 1.9em;
    color: #666;
}

p {
    font-size: 0.9em;
    color: #999;
}

/* Navigation styles */
.navbar {
    margin-top: 10px;
}

.navbar img {
    width: 20px;
    height: 20px;
}

/* Main content styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.recipe {
    margin-top: 20px;

}

.recipe h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recipe ul {
    padding: 0px 67px;
}

.recipe li {
    margin-bottom: 5px;
}
.ingredientes{
    display: flex;
    position: absolute;
    margin: 70px 0px;
}
.text-choco {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-choco h2 {
    font-weight: bold;
    color: #000;
}

.text-choco p {
    padding-bottom: 15px;
}

/* Button styles */
.vanessa{
    display: flex;
    align-items: center;
}
.vanessa p{
    color: #000;
    padding-bottom: 8px;
}
.text-vanessa{
    text-align: left;
    margin: 0px 15px;
}
button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #ff4500;
}

/* Author section styles */
section {
    text-align: center;
    margin: 20px 0;
}

section img {
    max-width: 100px;

}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-top: 2px solid #ccc;
    margin-top: 20px;
}